
.mySwiper {
.swiper-pagination-bullet {
background-color: #05c99b; // لون الأزرار
}

.slide-content {
display: flex;
align-items: flex-start;
flex-direction: column;
justify-content: flex-start;
background-size: cover;
background-position: center;
width: 100vw;
height: 477px;

.background-image {
background-size: cover;
background-position: center;
width: 100%;
height: 100%;
}

.text-container {
margin-left: 40px;
color: #FFFFFF;

h3 {
font-family: Roboto !important;
font-size: 32px;
font-weight: 400;
line-height: 47.5px;
text-align: left;
width: 460px;
height: 27px;
left: 77px;
padding: 0px 37px 0px 0px;

}

  hr {
width: 113px;
height: 9px;
top: 255px;
left: 84px;
opacity: 0px;
background: #05C99B;
border: none;
margin: 0; 
}
h6 {
font-family: Roboto !important;
font-size: 32px;
font-weight: 800;
line-height: 37.5px;
text-align: left;
width: 976px;
height:10px;
margin-top: 25px;
}
p {
font-family: Roboto;
font-size: 16px;
font-weight: 300;
line-height: 18.75px;
text-align: justify;
margin: 7px 0;
width: 468px;
height: 114px;
}

 button {
 top: 496px;
 left: 84px;
 background: #0034C6;
 border: none; 
 cursor: pointer;
 text-align: center; 
 padding: 8px 20px; 
 color: white;
font-family: Roboto !important;
font-size: 20px;
font-weight: 400;
line-height: 19px;
display: flex;
align-items: end;
margin-top: 20px;
 &:hover {
 background-color: #001f7a;
 }
 }
}
}
}