@import './swiper';
@import './Home';
@import './SwiperSlide';
@import './grid-photo';
@import './card';
@import './bird';
* {
   
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
        background: #FDF9F9;
}
